.sidebar{
    width: 90px;
    height:100vh ;
    background-color:#161D2F ;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;
    position:fixed;
    left: 0;
    top: 0;
    z-index: 100;
}

.sidebar-top{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sidebar-logo{
    width: 35px;
    height:35px ;
    margin-bottom: 30px;
}

.sidebar-nav{
    display: flex;
    flex-direction: column;
    gap: 25px;
    align-items: center;
    flex-grow: 1;
    margin-top: 30px;
}


.sidebar-nav a img {
    width: 25px;
    height: 25px;
    opacity: 0.2;
    transition: opacity 0.1s ease;
}

.sidebar-nav a.active img,
.sidebar-nav a:hover img {
    opacity:100;
}

.sidebar-bottom{
    margin-bottom: 10px;
}

.sidebar-avatar{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border:1px solid #ffffff;
}