body {
  margin: 0;
  font-family: "Inter", sans-serif;
  background-color: #10141E;
  color: white;
}

.app-layout {
  display: flex;
  min-width: 100vh;
}

.main-content{
  margin-left: 90px;
  flex-grow: 1;
  padding: 20px 40px;
}